body,html{
    color: #787878;
    font-family: "微软雅黑";
    font-size: 20px;
}

<<<<<<< HEAD
/*lgw*/


=======
<<<<<<< HEAD
>>>>>>> 1432c9da255d8dc8448f969f37ad59cbe418fdaf
body,h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
}


.container{
    padding: 0rem 0.6rem;
}


p{
    font-size: 0.65rem;
    line-height: 1.2rem;
    text-align: justify;
    text-indent: 1.3rem;
}
p+p{
    margin-top: 0.5rem;
}
h1,h2,h3,h4,h5,h6{
    font-size: 0.8rem;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
/* 工具箱 */
.pre{
    width: 100%;
    margin: 0.5rem 0rem;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.left-float{
    float: left;
}
.right-float{
    float: right;
}
.clearfix:after,.clearfix:before{
    clear: both;
}
.text-red{
    color: #e93a57;
}

/* 标题 */
.title{
   margin-top: 2rem;
   position: relative;
}
.title .text{
    font-size: 1rem;
    line-height: 0rem;
    text-align: center;
    text-indent: 0rem;
}
.title p .left,.title p .right{
   content: "";
    display: block;
    width: 1.5rem;
    height: 0.1rem;
    background: #464445;
    position: absolute;
    top: -0.7rem; 
}
.title p .left{
    left: 4.5rem;
}
.title p .right{
    right: 4.5rem;
    
}
.title span{
    font-size: 0.7rem;
    margin-top: 0.7rem;
    display: block;
}
/*end*/